.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tasks {
  text-align: left;
}

.align-right {
  text-align: right;
}

input[type=checkbox] {
  visibility: hidden
}

.table td {
  padding: 0;
  vertical-align: middle;
}

li.list-group-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.table {
  margin: 4px 0 4px 0 !important;
}


input[type=checkbox]:before {
  content:'';
  visibility: visible;
  display:inline-block;
  padding: 0 0 0 0px;
  top: 10px;
  left: 9px;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  transition: .2s;
  box-sizing: border-box;
}
input[type=checkbox]:checked:before {
  top: 7px;
  left: 9px;
  width: 8px;
  height: 18px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #28a745;
  border-bottom: 2px solid #28a745;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

button {
  background: none;
  border: none;
}
